body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}

.logo {
    width: 50%;
}

.white-bar {
    top: 20%;
}

.white-stripe {
    height: 100px;
    background-color: white;
}

.cd-font {
    font-size: 250%;
    clear: both;
}

#hd1 {
    font-size: 55px;
}

#hd2 {
    font-size: 40px;
}

#hd3{
    font-size: 32px;
}
#hd1, #hd2, #hd3, #hd4, #hd5 {
    font-family: 'Anton', sans-serif;
}

.circle-large {
    display: table-cell;
    height: 175px;
    width: 175px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 10px solid white;
    color: white;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}

.circle-small {
    display: table-cell;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 12px;
    font-family: 'Anton', sans-serif;
}

.circle-red {
    background: #e6563b;
}

.circle-yellow {
    background: #eb9d3a;
}

.circle-green {
    background: #7cb06c;
}

.circle-blue {
    background: #00aba9;
}

.space {
    height: 150px;
    width: 100%;
}

.img-border {
    border: 5px solid #e6e6e6;
}

.small-img {
    height: 80px;
    width: 50px;
    padding-top: 9px;
}

.fa-twitter {
    color: rgba(73,160,236);
    font-size: 25px;
}

.last-tweet {
    vertical-align: top;
}



@media only screen and (min-width: 768px) {
    .cd-logo {
        position: absolute;
        top: 10px;
    }

    .grey-bar {
        height: 40px;
        color: #f0f0f0;
    }

    .navigation-md {
        clear: both;
    }

    .logo {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}