body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}

.logo {
    width: 50%;
}

.white-bar {
    top: 20%;
    left: 4px;
}

.white-stripe {
    height: 100px;
    background-color: white;
}

.cd-font {
    font-size: 250%;
    clear: both;
}

.hd1 {
    font-size: 55px;
}

.hd2 {
    font-size: 40px;
}

.hd3{
    font-size: 32px;
}

.hd1, .hd2, .hd3, .hd4, .hd5 {
    font-family: 'Anton', sans-serif;
}

.circle-large {
    display: table-cell;
    height: 175px;
    width: 175px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 10px solid white;
    color: white;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}

.circle-small {
    display: table-cell;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 12px;
    font-family: 'Anton', sans-serif;
}

.circle-red {
    background: #e6563b;
}

.circle-yellow {
    background: #eb9d3a;
}

.circle-green {
    background: #7cb06c;
}

.circle-blue {
    background: #00aba9;
}

.space {
    height: 150px;
    width: 100%;
}

.img-border {
    border: 5px solid #e6e6e6;
}

.small-img {
    height: 80px;
    width: 100px;
    padding-top: 9px;
}

.fa-twitter {
    color: rgba(73,160,236, 1);
    font-size: 25px;
}

.last-tweet {
    vertical-align: top;
}

.circle-spacing1 {
    padding: 0 1rem 1rem 1.5rem;
}

.circle-spacing2 {
    padding: 0 1rem 1rem 1rem;
}

.circle-spacing3 {
    padding: 0 1rem 1rem 1.5rem;
}

.circle-spacing4 {
    padding: 0 1rem 1rem 1rem;
}

@media only screen and (min-width: 768px) {
    .cd-logo {
        position: absolute;
        top: 20px;
    }

    .grey-bar {
        height: 50px;
        color: #f0f0f0;
    }

    .navigation-md {
        clear: both;
        font-size: x-large;
    }

    .logo {
        width: 130px;
        height: 130px;
    }

    .title {
        padding-top: 150px;
    }

    .circle-spacing {
        padding-right: 2px;
        margin: 0;
    }

    .small-img {
        height: 100px;
        width: 120px;
    }

    .circle-spacing1 {
        padding: 0;
        float: right;
    }

    .circle-spacing2 {
        padding: 0 0 0 .25rem;
    }

    .circle-spacing3 {
        padding: 0 0 0 .25rem;
    }

    .circle-spacing4 {
        padding: 0 0 0 .25rem;
    }

    .circle-large {
        display: table-cell;
        height: 125px;
        width: 125px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        border: 7px solid white;
        color: white;
        font-size: 25px;
        font-family: 'Anton', sans-serif;
    }
}

@media only screen and (min-width: 992px) {
    .logo {
        width: 130px;
        height: 130px;
    }

    .navigation-lg {
        height: 80px;
        font-size: x-large;
    }

    .cd-font {
        bottom: 30px;
        left: 200px;
    }

    .title {
        padding-top: 80px;
    }

    .circle-spacing1 {
        padding: 0;
        float: none;
    }

    .circle-spacing2 {
        padding: 0;
    }

    .circle-spacing3 {
        padding: 0;
    }

    .circle-spacing4 {
        padding: 0;
    }

    .hd3 {
        font-size: 28px;
    }

    .small-img {
        height: 70px;
        width: 80px;
    }

    .featured {
        font-size: 12px;
    }

    .paragraph {
        padding-right: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .cd-font {
        top: 35px;
        left: 390px;
    }

    .logo1 {
        left: 210px;
        top: 5px;
    }

    .navigation-xl {
        float: right;
    }

    .circle-spacing1 {
        float: right;
    }

    .circle-spacing2 {
        padding-right: 2.5rem;
        float: right;
    }

    .circle-spacing3 {
        padding-left: 2.5rem;
    }

    .circle-spacing4 {
        padding-right: 2rem;
    }

    .hd3 {
        font-size: 19px;
    }

    .small-img {
        height: 50px;
        width: 60px;
    }

    .paragraph {
        padding-right: 25px;
        font-size: 12px;
    }
}